* {
    --buttonColor: rgba(255, 255, 255, 0.815);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.95);
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 25px;
    min-width: 375px;
}

.background {
    width: 100vw;
    height: 100vh;
    opacity: .05;
    order: 0;
    position: absolute;
}

#slider {
    width: 50%;
    height: 45%;
    background-color: gray;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 400px;
}

.image {
    height: 100%;
    width: 100%;
    max-width: 400px;
}

#buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    position: absolute;
    min-width: 350px;
    max-width: 600px;
}

.button {
    background-color: transparent;
    border: none;
    color: var(--buttonColor);
    font-size: 4rem;
    transition: .3s;
}

.button:hover {
    transform: scale(1.1);
    cursor: pointer;
    opacity: 1.2;
}

.buttonDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    order: 2;
    width: 300px;
}

.imageButton {
    background-color: var(--buttonColor);
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    opacity: .4;
    padding: 5px;
}

.imageButton:hover {
    opacity: 1;
    cursor: pointer;
}

@media (max-width: 600px) {
    #slider {
        width: 42.5%;
        height: 27.5%;
    }
}